.navbar-inverse .navbar-nav > .active > a {
background: #0072bb;
}

.navbar-inverse .navbar-nav > .active > a:hover{
background: #fff; 
color: #0072bb;
}

#blue{
	background: #0072bb;
}

.titelSchuin {
font-size: 16px;
font-weight: 300;
font-style: italic;
}

#mail:hover {
color: #0072bb;
}

.logo{
margin-top: -8px;
width: 135px; 
padding-bottom: 0px;
margin-bottom: -8px;
}


#f i:hover {
color: #0072bb;;
}

#r {
background-color: #bbeafb;
color: #0072bb;
}

#r  p{
color: #0072bb;
}

#r  h4{
color: #0072bb;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
text-align: center;
}

h1{
color: #fff;
font-weight: 500;
}

.bluehover {
background-color: #0072bb;
}

.left-bar {
background: #0072bb;
}




